:root {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  --link-blue: #467dc3;
  --link-hover-blue: #9dc4f7;
}

body, html {
  margin: 0;
}

a {
  color: var(--link-blue);
}

#nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--link-blue);
  font-size: 24px;
  margin: 20px auto;
}

#nav a:hover {
  color: var(--link-hover-blue);
}

#nav ul {
  list-style: none;
  /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center; */
  width: 200px;
  margin: 0;
  padding: 25px;
  height: 100vh;
  background-color: rgba(5,5,5,.1);
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
}

#nav li {
  padding-bottom: 20px;
}

footer {
  position: fixed;
  top: 93vh;
  left: 0;
  padding: 5px 0;
  text-align: center;
  width: 250px;
}

footer, footer a {
  color: var(--link-blue);
}

main {
  width: calc(100vw - 300px);
}

#main-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

#menu-button {
  display: none;
  height: 35px;
  margin: auto;
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {

    #main-flex {
        display: block;
        padding: 3vw;
    }

  header {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  footer {
    display: block;
    position: relative;
    top: 0;
    width: fit-content;
    margin: auto;
  }

  main {
    width: calc(100vw - 50px);
  }

  #nav {
    flex-flow: column nowrap;
  }

  #nav li {
    display: block;
    padding-bottom: 0;
  }

  #nav ul {
    display: none;
    margin: 0 auto;
  }

  #nav ul.is-active {
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
    background-color: var(--link-hover-blue);
    width: 100vw;
    max-width: none;
    height: fit-content;
  }

  #nav li a {
    display: block;
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    width: fit-content;
    border: 1px solid rgb(227, 231, 179);
    border-radius: 10px;
    background-color: white;
  }

  #nav li .activePage {
    border: 0px;
    background-color: rgb(228, 67, 113);
  }

  #menu-button {
    display: block;
    margin: auto;
    height: 50px;
    background-color: var(--link-blue);
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
  }
}
