main img {
    width: 90vw;
    max-width: 900px;
    margin: 10px auto;
    display: block;
}

#contact-main-text {
    width: 90vw;
    max-width: 900px;
    margin: auto;
}

@media screen and (max-width: 700px) {
    main img {
        height: calc(90vw / 2048 * 2742);
        width: 94vw;
     }
}