main img {
  width: 60vw;
  height: calc(60vw * 2742 / 2048);
  max-height: 85vh;
  max-width: calc(85vh * 2048 / 2742);
  margin: auto;
  display: block;
}

main {
  margin-top: 25px;
}

main p {
  width: 60vw;
  max-width: calc(85vh * 2048 / 2742);
  margin: 20px auto 0 auto;
}

@media screen and (max-width: 700px) {
  main img, main p {
    margin: 10px auto;
    height: calc(90vw / 2048 * 2742);
    width: 94vw;
  }
}
