#recordings {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: calc(100vw - 350px);
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}

.one-rec {
    width: 300px;
    text-align: center;
    margin: auto;
}

.one-rec img {
    width: 100%;
    min-width: 250px;
}

.one-rec-group {
    font-weight: bold;
}

.one-rec-name {
    font-style: italic;
}